* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

body {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #111;
}

.container {
  width: 600px;
  height: auto;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.container h1 {
  font-size: 40px;
  color: white;
  margin-bottom: 40px;
  font-family: Poppins;
}

.container h1 span {
  padding: 1px;
  border-radius: 5px;
  background-color: yellow;
  font-family: Poppins;
  color: black;
}

.container .img {
  width: 100%;
  height: 400px;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px,
    rgba(0, 0, 0, 0.22) 0px 10px 10px;
  margin-bottom: 30px;
}

.container .img img {
  width: 100%;
  height: 100%;
  border-radius: 10px;
}

.container .buttons {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.container .buttons button,
.buttons a button {
  outline: none;
  border: none;
  border-radius: 7px;
  padding: 12px;
  font-size: 18px;
  background-color: black;
  color: yellow;
  font-weight: bold;
  cursor: pointer;
}

.container .buttons button.next {
  background-color: yellow;
  color: black;
}
